*{
  font-family: 'Poppins', sans-serif;
}

/*--Menu--*/
  .menus {
    position:absolute;
    z-index:10;
    position: fixed;
    background-color: rgba(33, 37, 41, 0.75);
    width: 100%;
    font-weight: 550;
    padding-left: 70px;
    padding-right:70px;
  }

  .navbar-dark {
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  }

  .navbar-dark .navbar-brand:focus,
  .navbar-dark .navbar-brand:hover{
  color: #fff;
  }

  .navbar-dark .navbar-nav .nav-link{
  color: #fff;
  }

  .navbar-dark .navbar-nav .nav-link:focus,
  .navbar-dark .navbar-nav .nav-link:hover{
  color: rgb(255, 193, 7);
  }

  footer {
    
  }


/*--Página 1--*/

.carousel-item {
  height: 100vh;
  background: no-repeat center center scroll;
  background-size: cover;
}
    

.textocarousel h1 {
    font-size: 70px;
    text-align: center;
  }
.textocarousel p {
    font-size: 30px;
    text-align: center;
  }

  
  .espaciomenu {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .textocarousel:focus,
  .textocarousel:hover{
    color: #fff;
  }
  
  .textocarousel .carousel-caption:focus,
  .textocarousel .carousel-caption:hover{
    color: rgb(255, 193, 7);
  }
  
  #bodyindex {
    background-color: rgb(33, 37, 41);
  }

  .titulocoloresindex {
    color: #fff;
    padding-top: 125px;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
  }

  .galeriapinturaindex {
    flex-direction: row;
    display: flex;

  }

  .descripcion {
    color: #fff;
    text-align: center;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
  }

  .descripcion p {
    margin: 3%;
  }

  @media screen and (max-width: 993px) {
    .descripcion {
      color: #fff;
      text-align: center;
      display: flex;
      flex-direction: column;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 3%;
    }

  }

  /*--Página 2--*/
  
  .titulocolores {
    padding-top: 125px;
    margin-bottom: 50px;
  
    text-transform: uppercase;
    text-align: center;
    align-items: center;
  }
  
  .titulocolores h1 {
    font-weight: bold;
  }

  .galeriapintura figure {
    position: relative;
    overflow: hidden;
  }

  .galeriapintura img {
    transition: transform 0.3s ease-in-out;
  }

  .galeriapintura figcaption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    font-size: 2em;
    background-color: rgba(33, 37, 41, 0.5);
    color: rgb(255, 193, 7);
    text-transform: uppercase;
    font-weight: bold;
    
    
  }

  /* .galeriapintura figure:hover img {
    transform: scale(1.1);
  } */

  .galeriapintura figure:hover figcaption {
    opacity: 1;

  }

  /*--Página 3--*/

  

  #card-events {
    text-align: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5%;
    justify-content: space-around;
   }

  .noviembre {
    text-align: center;
  }


 .table-completa {
  padding-bottom: 20%;
  background-image: url(/img/Clientes-Montana_Colors.jpeg);
  display: flex;
  justify-content: center;
  padding: 5%;
  width: 100%;
}

  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #ffffff88;
  }

  th {
    background-color: #f2f2f2;
  }

  td:hover {
    background-color: #f5f5f5;
  }

  @media screen and (max-width: 993px) {
  
    #card-events {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5%;
    justify-content: space-around;
   }
  
    .card {
      margin-bottom: 15%;
    }

    .table-completa {
      border-collapse: collapse;
      width: 100%;
    }
  }
  
  /*--Página 4--*/
  
  #subscripcion {
    padding: 5%;
    padding-top: 125px;
    width: 100%;
  }  
  
  .fondocontacto {
    background-image: url(https://www.montanacolors.com/content/imgsxml/blog/big183-mtn-brasil-interview-1342.jpg);
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: white;
  }
  
  .button {
    margin-top: 5%;
    text-align: center;
  }
  
  .col-md-4 {
  width: 100%;
  margin-top: 2%;
}

.col-12 {
  margin-top: 5%;
}

.row {
  justify-content: center;
  padding: 2%;
}

#move {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding: 50px;
  background-color: rgba(33, 37, 41, 0.75);
  color: aliceblue;
  border-radius: 15px;
}
  
  #move h1 {
    margin-bottom:5%;
  }
  
  
  
  
  