.menus {
    position:absolute;
    z-index:10;
    position: fixed;
    width: 100%;
    background-color: rgba(87, 87, 87, 0.5);
    padding-left: 70px;
    padding-right: 70px;
    color: azure;
}


