.menus {
    position:absolute;
    z-index:10;
    position: fixed;
    background-color: rgb(25, 29, 49);
    width: 100%;
    font-weight: 700;
    /* font-size: 1.5em; */
    /* height: 75px; */
    padding-left: 70px;
    padding-right: 70px;
    /* padding-top: 15px; */
    
}


.carousel-item {
    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


  

  .gallerybotes {
    padding-top: 150px;
  }



/*.carousel-inner {
    width: 100%;
    height: 100vh;
    
} 

.container {
    max-width: 100%;
    height: 100vh;
    padding: 0;
}

.carousel-caption{
    position: absolute;
    margin-bottom: 100px;
} */
