.menus {
    position:absolute;
    z-index:10;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
    
}


.carousel-item {
    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }



/*.carousel-inner {
    width: 100%;
    height: 100vh;
    
} 

.container {
    max-width: 100%;
    height: 100vh;
    padding: 0;
}

.carousel-caption{
    position: absolute;
    margin-bottom: 100px;
} */
